<?xml version='1.0' encoding='utf-8'?>
<plugin id="easton-plugin-photoview" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>PhotoView</name>
	<js-module name = "PhotoView"src="www/PhotoView.js">
		<clobbers target="cordova.plugins.PhotoView"/>
	</js-module>
	<platform name="android">
		<config-file parent = "/*" target="res/xml/config.xml">
			<feature name="PhotoView">
				<param name="android-package" value="photoview.photoview.PhotoView"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
		<activity android:name="photoview.ImageGalleryActivity"></activity>
		</config-file>
		<source-file src = "src/android/photoview/photoview/PhotoView.java" target-dir="app/src/main/java/photoview/photoview"/>
		<source-file src = "src/android/photoview/ImageGalleryActivity.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/Info.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/PhotoView.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/PhotoViewAdapter.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/PhotoViewWrapper.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/DataHolder.java" target-dir="app/src/main/java/photoview"/>
		
		<resource-file src = "src/android/xml/activity_touch_gallery.xml" target="res/layout"/>
		<resource-file src = "src/android/xml/layout_main_header.xml" target="res/layout"/>
		<resource-file src = "src/android/xml/photo_view_zoom_progress.xml" target="res/layout"/>
		
		<resource-file src = "src/android/xml/back.png" target="res/drawable-hdpi"/>
		<resource-file src = "src/android/xml/default_image.png" target="res/drawable-hdpi"/>
	
		<framework src="src/android/photoview.gradle" custom="true" type="gradleReference" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PhotoView">
				<param name="ios-package" value="QRPhotoView" />
			</feature>
		</config-file>
		
		<header-file src="src/ios/QRPhotoView.h" />
        <source-file src="src/ios/QRPhotoView.m" />

		<header-file src="lib/ios/FLAnimatedImage/FLAnimatedImage.h" />
        <source-file src="lib/ios/FLAnimatedImage/FLAnimatedImage.m" />
		<header-file src="lib/ios/FLAnimatedImage/FLAnimatedImageView.h" />
        <source-file src="lib/ios/FLAnimatedImage/FLAnimatedImageView.m" />

		<header-file src="lib/ios/SDWebImage/FLAnimatedImage/FLAnimatedImageView+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/FLAnimatedImage/FLAnimatedImageView+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/MKAnnotationView+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/MKAnnotationView+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/NSButton+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/NSButton+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/NSData+ImageContentType.h" />
        <source-file src="lib/ios/SDWebImage/NSData+ImageContentType.m" />
		<header-file src="lib/ios/SDWebImage/NSImage+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/NSImage+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/SDAnimatedImageRep.h" />
        <source-file src="lib/ios/SDWebImage/SDAnimatedImageRep.m" />
		<header-file src="lib/ios/SDWebImage/SDImageCache.h" />
        <source-file src="lib/ios/SDWebImage/SDImageCache.m" />
		<header-file src="lib/ios/SDWebImage/SDImageCacheConfig.h" />
        <source-file src="lib/ios/SDWebImage/SDImageCacheConfig.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageCoder.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageCoder.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageCoderHelper.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageCoderHelper.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageCodersManager.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageCodersManager.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageCompat.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageCompat.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageDownloader.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageDownloader.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageDownloaderOperation.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageDownloaderOperation.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageFrame.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageFrame.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageGIFCoder.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageGIFCoder.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageImageIOCoder.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageImageIOCoder.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageManager.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageManager.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageOperation.h" />
		<header-file src="lib/ios/SDWebImage/SDWebImagePrefetcher.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImagePrefetcher.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageTransition.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageTransition.m" />
		<header-file src="lib/ios/SDWebImage/SDWebImageWebPCoder.h" />
        <source-file src="lib/ios/SDWebImage/SDWebImageWebPCoder.m" />
		<header-file src="lib/ios/SDWebImage/UIButton+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/UIButton+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/UIImage+ForceDecode.h" />
        <source-file src="lib/ios/SDWebImage/UIImage+ForceDecode.m" />
		<header-file src="lib/ios/SDWebImage/UIImage+GIF.h" />
        <source-file src="lib/ios/SDWebImage/UIImage+GIF.m" />
		<header-file src="lib/ios/SDWebImage/UIImage+MultiFormat.h" />
        <source-file src="lib/ios/SDWebImage/UIImage+MultiFormat.m" />
		<header-file src="lib/ios/SDWebImage/UIImage+WebP.h" />
        <source-file src="lib/ios/SDWebImage/UIImage+WebP.m" />
		<header-file src="lib/ios/SDWebImage/UIImageView+HighlightedWebCache.h" />
        <source-file src="lib/ios/SDWebImage/UIImageView+HighlightedWebCache.m" />
		<header-file src="lib/ios/SDWebImage/UIImageView+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/UIImageView+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/UIView+WebCache.h" />
        <source-file src="lib/ios/SDWebImage/UIView+WebCache.m" />
		<header-file src="lib/ios/SDWebImage/UIView+WebCacheOperation.h" />
        <source-file src="lib/ios/SDWebImage/UIView+WebCacheOperation.m" />

		<header-file src="lib/ios/YBImageBrowser/AssistBar/YBImageBrowserProgressBar.h" />
        <source-file src="lib/ios/YBImageBrowser/AssistBar/YBImageBrowserProgressBar.m" />
		<header-file src="lib/ios/YBImageBrowser/AssistBar/YBImageBrowserPromptBar.h" />
        <source-file src="lib/ios/YBImageBrowser/AssistBar/YBImageBrowserPromptBar.m" />
		<header-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserCell.h" />
        <source-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserCell.m" />
		<header-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserModel.h" />
        <source-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserModel.m" />
		<header-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserView.h" />
        <source-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserView.m" />
		<header-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserViewLayout.h" />
        <source-file src="lib/ios/YBImageBrowser/CoreStructure/YBImageBrowserViewLayout.m" />
		<header-file src="lib/ios/YBImageBrowser/FunctionBar/YBImageBrowserFunctionBar.h" />
        <source-file src="lib/ios/YBImageBrowser/FunctionBar/YBImageBrowserFunctionBar.m" />
		<header-file src="lib/ios/YBImageBrowser/FunctionBar/YBImageBrowserFunctionModel.h" />
        <source-file src="lib/ios/YBImageBrowser/FunctionBar/YBImageBrowserFunctionModel.m" />
		<header-file src="lib/ios/YBImageBrowser/ToolBar/YBImageBrowserToolBar.h" />
        <source-file src="lib/ios/YBImageBrowser/ToolBar/YBImageBrowserToolBar.m" />
		<header-file src="lib/ios/YBImageBrowser/Transition/YBImageBrowserAnimatedTransitioning.h" />
        <source-file src="lib/ios/YBImageBrowser/Transition/YBImageBrowserAnimatedTransitioning.m" />
		<header-file src="lib/ios/YBImageBrowser/Utilities/NSBundle+YBImageBrowser.h" />
        <source-file src="lib/ios/YBImageBrowser/Utilities/NSBundle+YBImageBrowser.m" />
		<header-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserCopywriter.h" />
        <source-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserCopywriter.m" />
		<header-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserDownloader.h" />
        <source-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserDownloader.m" />
		<header-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserUtilities.h" />
        <source-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserUtilities.m" />
		<header-file src="lib/ios/YBImageBrowser/Utilities/YBImageBrowserScreenOrientationProtocol.h" />
		<header-file src="lib/ios/YBImageBrowser/YBImageBrowser.h" />
        <source-file src="lib/ios/YBImageBrowser/YBImageBrowser.m" />
		<resource-file src="lib/ios/YBImageBrowser/YBImageBrowser.bundle" />

		<framework src="ImageIO.framework" weak="true" />
	</platform>
</plugin>