<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-photoview" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>PhotoView</name>
	<js-module name = "PhotoView"src="www/PhotoView.js">
		<clobbers target="cordova.plugins.PhotoView"/>
	</js-module>
	<platform name="android">
		<config-file parent = "/*" target="res/xml/config.xml">
			<feature name="PhotoView">
				<param name="android-package" value="photoview.PhotoView"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
		<activity android:name="photoview.ImageGalleryActivity"></activity>
		</config-file>
		<source-file src = "src/android/PhotoView.java" target-dir="app/src/main/java/photoview/photoview"/>
		<source-file src = "src/android/photoview/ImageGalleryActivity.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/Info.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/PhotoView.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/PhotoViewAdapter.java" target-dir="app/src/main/java/photoview"/>
		<source-file src = "src/android/photoview/PhotoViewWrapper.java" target-dir="app/src/main/java/photoview"/>
		
		<resource-file src = "src/android/xml/activity_touch_gallery.xml" target="res/layout"/>
		<resource-file src = "src/android/xml/layout_main_header.xml" target="res/layout"/>
		<resource-file src = "src/android/xml/photo_view_zoom_progress.xml" target="res/layout"/>
		
		<resource-file src = "src/android/xml/back.png" target="res/drawable-hdpi"/>
		<resource-file src = "src/android/xml/default_image.png" target="res/drawable-hdpi"/>
	
		<framework src="src/android/photoview.gradle" custom="true" type="gradleReference" />
	</platform>
	
</plugin>